body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#canvas {
    width: 425px;
    height: 425px;
    background-color: #0096FF;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}